.boxModel {
    width: 40%;
    padding: 1em;
    border: 1em solid black;
    margin: 2em;
    background-color: skyblue;
}

.formFix {
    margin-top: .5em;
    margin-bottom: .5em;
}

.newMealForm {
    float: left;
}

.editMealForm {
    float: right;
}

#mealMain {
    font-size: 20px;
    border: 1px dotted black;
    padding: 1em;
    margin-top: 1em;
}

.titleOf {
    text-align: center;
}
